<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Manufacturer</key>
	<string>Manufacturer</string>
	<key>Version</key>
	<string>2</string>
	<key>Product_Code</key>
	<dict>
		<key>Prefix</key>
		<string>SE</string>
		<key>Suffix</key>
		<string>S123</string>
	</dict>
</dict>
</plist>
